<div class="race">
  <div class="quote">
    <span class="completed">{{ quoteDisplay.completed.rest }}</span>
    <span class="completed in-progress">{{ quoteDisplay.completed.inProgress }}</span>
    <span class="invalid in-progress" *ngIf="isInvalid">{{ quoteDisplay.invalid.inProgress }}</span>
    <span class="in-progress">{{ quoteDisplay.valid.inProgress }}</span>
    <span class="invalid" *ngIf="isInvalid">{{ quoteDisplay.invalid.rest }}</span>
    <span>{{ quoteDisplay.valid.rest }}</span>
  </div>

  <input
    [appFocus]="roomStatus === RoomStatus.ACTIVE"
    type="text"
    class="race-input"
    spellcheck="false"
    [disabled]="roomStatus === RoomStatus.QUEUED || uncompletedWords.length === 0"
    [class.error]="isInvalid"
    [(ngModel)]="input"
    (input)="onInput()"
  />
</div>
