.player {
  @apply flex flex-row justify-between;
  @apply text-slate-600 font-bold dark:text-slate-300;

  .track {
    width: 83%;
    @apply p-1;
    @apply border-dashed border-amber-400 border-b-4;

    .racer {
      $vehicle-width: 5rem;
      $name-width: 7rem;

      @apply flex flex-row;
      max-height: 5rem;
      margin-left: calc((100% - ($name-width + $vehicle-width)) * var(--progress));

      .name-container {
        @apply flex flex-col justify-center;
        width: $name-width;

        .name {
          @apply inline-block overflow-hidden whitespace-nowrap;
          @apply text-right text-ellipsis;
        }
      }

      .vehicle {
        @apply pl-2;
        width: $vehicle-width;
      }
    }
  }

  .vertical-center {
    @apply inline-block align-middle h-full;
  }

  .wpm-container {
    width: 10%;
    text-align: end;

    .wpm {
      @apply text-2xl;
    }
  }

  .rank-container {
    width: 7%;
    text-align: end;

    .rank {
      @apply text-lg;
    }
  }
}
