.player {
  @apply flex flex-row;
  @apply text-slate-600 font-bold;

  .track {
    @apply w-5/6 p-1;
    @apply border-dashed border-amber-400 border-b-4;

    .racer {
      $vehicle-width: 5rem;
      $name-width: 7rem;

      @apply flex flex-row;
      max-height: 5rem;
      margin-left: calc((100% - ($name-width + $vehicle-width)) * var(--progress));

      .name-container {
        @apply flex flex-col justify-center;
        width: $name-width;

        .name {
          @apply inline-block overflow-hidden whitespace-nowrap;
          @apply text-right text-ellipsis;
        }
      }

      .vehicle {
        @apply pl-2;
        width: $vehicle-width;
      }
    }
  }

  .score {
    @apply w-1/6;
    @apply text-2xl;

    .vertical-center {
      @apply inline-block align-middle h-full;
    }
  }
}
