<div class="player" *ngFor="let player of room.players">
  <div class="track">
    <div
      class="racer"
      [style.--progress]="player.wordIndex / room.text.quote.split(' ').length || 0"
    >
      <div class="name-container">
        <div class="name">{{ player.nickName }}</div>
        <div class="name" *ngIf='player.socketId === playerId'>(you)</div>
      </div>
      <img class="car" src="assets/svg/cars/car.svg" alt="car" />
    </div>
  </div>
  <div class="score">
    <span class="vertical-center"></span>
    <span>{{ player.wpm }} wpm</span>
  </div>
</div>
