<ng-container
  *ngIf="{
    room: room$ | async,
    playerId: socketId$ | async,
    countdown: countdown$ | async
  } as o"
>
  <main class="room-card">
    <div class="countdown">
      {{ o.countdown }}
    </div>
    <app-track [room]="o.room" [playerId]="o.playerId"></app-track>
    <app-race
      [roomStatus]="o.room.status"
      [quote]="quote"
      (correctWord)="onCorrectWord($event)"
    ></app-race>
  </main>
  <div class="nav-buttons-container">
    <button class="nav-button back" (click)="goBack()">
      Main menu (leave {{ roomModeDisplayResolver[o.room.mode] }})
    </button>
    <button class="nav-button next" *ngIf="o.room.status === RoomStatus.DONE" (click)="newRace()">
      New race
    </button>
  </div>
</ng-container>
