.wrap {
  @apply fixed inset-0 -z-10 pt-44;
}

.cloud {
  @apply bg-gradient-to-b from-white to-gray-300;
  @apply relative h-28 w-80;
  @apply rounded-full shadow-lg;

  &:before,
  &:after {
    @apply bg-white absolute -z-10;
    @apply rounded-full;
    content: '';
  }

  &:before {
    @apply h-44 w-44 -top-20 right-12;
  }

  &:after {
    @apply h-24 w-24 -top-12 left-12;
  }
}

.cloud-container-1 {
  @apply animate-[cloud_35s_linear_infinite];
  transform: scale(0.65);
}

.cloud-container-2 {
  @apply animate-[cloud_20s_linear_infinite];
  transform: scale(0.3);
}

.cloud-container-3 {
  @apply animate-[cloud_30s_linear_infinite];
  transform: scale(0.5);
}

.cloud-container-4 {
  @apply animate-[cloud_18s_linear_infinite];
  transform: scale(0.4);
}

.cloud-container-5 {
  @apply animate-[cloud_25s_linear_infinite];
  transform: scale(0.55);
}
